body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #fdfbf7;
}

main{
    margin-top: 50px;
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 100px;
    background-color: #f7f9fd;
}

button:focus {
    outline:0;
}

.title{
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: #171512;
    text-decoration: underline;
}

.interval{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.intervalLength{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intervalLength h2{
    color: #2f2b24;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.intervalLength p{
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.intervalLength button{
    width: 70px;
    height: 25px;
    border-radius: 7px;
}

.fa-sort-asc{
    padding-top: 5px;
}

.fa-sort-desc{
    padding-bottom: 5px;
}

.timer{
    display: flex;
    flex-direction: column;
}

.timer h2{
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 25px;
}

.clock{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.clock div{
    font-size: 120px;
    padding: 20px 40px;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: #2f2b24;
    color: #f7f9fd;
}

.funcButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.funcButtons button{
    font-size: 15px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: ;
    font-size: 18px;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}

button:hover{
    color: #fff;
    background-color: #000;
}

@media only screen and (max-width: 730px){
    main{
        border: none;
        border-radius: 0px;
        padding-top: 0px;
        background-color: #fdfbf7;
        padding-right: 50px;
        padding-left: 50px; 
    }
    .timer span{
        font-size: 80px;
    }
}